aiosmtpd==1.4.4
nltk==3.8.1
dnspython==2.4.2
pyspf==2.0.14
regex==2025.9.18
aiohttp==3.9.5
fastapi
uvicorn
joblib
python-dotenv
scikit-learn
requests
beautifulsoup4
whois
pandas
xgboost
ipaddress
tldextract